<!-- <p>weather works!</p>


<h5>{{weather}}</h5>
<h5>{{wind_speed}}</h5>
<h5>{{temp}}</h5>
<h5>{{pressure}}</h5>
<h5>{{humidity}}</h5>
<h5>{{wind_speed}}</h5>
<h5>{{wind_dec}}</h5> -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="bg-white">

    <div class="container">
        <div class="row d-flex align-items-center ">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h1>The best WeatherView</h1>
                <h2> Get the forecast for today, tonight & tomorrow's <strong>weather</strong> for your city ,Try it now
                    and enjoy it.
                </h2>
                <a class="btn-get-started scrollto" routerLink="/land" routerLinkActive="active">Get Started</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="https://image.freepik.com/free-vector/young-man-runs-with-umbrella-windy-autumn_187411-217.jpg"
                    class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>

<!-- End Hero -->